
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MachineRTC</title>
</head>
<body>
    Hi machine, this is your page
</body>
</html>
